body{
	background: black;
	/*background-image: url('dark-low-poly-background_1048-7971.jpg')*/
  background: url(392f38884a695299b0b0a295f5edb1a2.png) no-repeat;
  background-size: cover;
} 

#entr{
	text-align: center;
}


#q{
	margin-top: 250px;
	font-size : 50px;
	color: white;
	border: solid 0px;
    padding: 20px 20px;
    margin: 171px 232px;
    border-radius: 20px;
    background: rgb(102, 153, 255 , 0.4);
    color: rgb(51, 51, 0);
    font-weight: 600
}

#yes {
	border: solid #505e6c 3px;
	text-decoration: none;
 	font-size: 16px;
  	margin: 4px 2px;
  	padding: 15px 28px;
  	border-radius: 12px;
  	font-weight: 900;
  	cursor: pointer;

}

#no{
	border: solid #505e6c 3px;
	text-decoration: none;
 	font-size: 16px;
  	margin: 4px 2px;
  	padding: 15px 32px;
  	border-radius: 12px;
  	font-weight: 900;
  	cursor: pointer;
  	/*cursor: not-allowed;*/

}

#info{
	text-align: center;
	/*margin-top: 206px*/
	margin: 26px  233px;
    padding: 100px 100px;
    border-radius: 36px;
    background: rgb(102, 153, 255 , 0.4);
    border: solid 0px;
    color: rgb(102, 102, 51);
    /*animation-name: example;*/

}

label{
	color: white;
	font-size : 30px;
	margin-right: 19px;
}

/*input{
	padding: 10px 20px;
	font-size: 20px;
	margin-right: 88px;
}*/

#name{
	padding: 5px 5px;
	font-size: 20px;
	margin-right: 78px;
	border: solid #3399ff 3px;
	color: rgb(51, 51, 0);
	font-weight:500;
}

#age{
	padding: 6px 5px;
	font-size: 20px;
	margin-right: 78px;
	margin-left: 21px;
	border: solid #3399ff 3px;
	color: rgb(51, 51, 0);
	font-weight:500;
}

#hobby{
	padding: 6px 5px;
	font-size: 20px;
	margin-right: 78px;
	margin-left: -8px;
	border: solid #3399ff 3px;
	color: rgb(51, 51, 0);
	font-weight:500;

}

label{
	color: rgb(51, 51, 0);
	font-weight:550;
}


#enter{
	border: solid black 1px;
	text-decoration: none;
 	font-size: 16px;
  	margin: 4px 2px;
  	padding: 12px 24px;
  	border-radius: 12px;
  	font-weight: 700;
  	cursor: pointer;
  	border : solid grey 2px;
  	margin-top: 80px;
  	margin-left: 16px;

}

.b{

	border: solid black 1px;
	text-decoration: none;
 	font-size: 16px;
  	margin: 4px 2px;
  	padding: 15px 32px;
  	border-radius: 12px;
  	font-weight: 900;
  	cursor: pointer;

}

#b4{
	margin-left: 600px;
    margin-top: 165px;
   background: rgb(255,255,255,0.7);
}


#b3{
	margin-left: 959px;
    margin-bottom: 100px;
    background: rgb(255,255,255,0.7);
}


#b2{
	margin-left: 456px;
    margin-top: 100px;
    background: rgb(255,255,255,0.7);

}

#b1{
	margin-top: 216px;
	background: rgb(255,255,255,0.7);

}

#h1{
	margin: 56px 219px;
    padding: 50px 50px;
    border-radius: 20px;
    background: rgb(102, 153, 255 , 0.4);
    color: rgb(51, 51, 0);
    /*background: #505e6c;*/
}

#countDown{
	border: solid 0px;
    margin: 0px 527px;
    border-radius: 20px;
    background: rgb(102, 153, 255 , 0.4);
}

#add{

	border: solid orange 1px;
	text-decoration: none;
 	font-size: 16px;
  	margin: 4px 2px;
  	padding: 8px 18px;
  	border-radius: 12px;
  	font-weight: 700;
  	cursor: pointer;

}


#click{

	border: solid orange 1px;
	text-decoration: none;
 	font-size: 13px;
  	margin: 4px 2px;
  	padding: 7px 14px;
  	border-radius: 12px;
  	font-weight: 900;
  	cursor: pointer;
}

#next{

	border: solid orange 1px;
	text-decoration: none;
 	font-size: 13px;
  	margin: 4px 2px;
  	padding: 8px 18px;
  	border-radius: 12px;
  	font-weight: 700;
  	cursor: pointer;
	
}

#ne{
	border: solid 1px;
	text-decoration: none;
 	font-size: 13px;
  	margin: 4px 2px;
  	padding: 8px 18px;
  	border-radius: 12px;
  	font-weight: 700;
  	cursor: pointer;
  	background: rgb(255,255,255,0.7);
}

#ad{

	border: solid orange 1px;
	text-decoration: none;
 	font-size: 13px;
  	margin: 4px 2px;
  	padding: 8px 18px;
  	border-radius: 12px;
  	font-weight: 700;
  	cursor: pointer;
  	background: rgb(255,255,255,0.7);
}

#one{
  display:inline-block;
  vertical-align:top;
  width : 19%;
  padding: 20px 0px;
  border: solid orange 1px;
  background: white;
  font-size: 21px;
  background: rgb(255,255,255,0.7);
}

 #two{
  display:inline-block;
  vertical-align:top;
  width : 19%;
  padding: 20px 0px;
  border: solid orange 1px;
  background: white;
  font-size: 21px;
  background: rgb(255,255,255,0.7);
 }

 #next2{
 	border: solid orange 1px;
	text-decoration: none;
 	font-size: 13px;
  	margin: 4px 2px;
  	padding: 8px 18px;
  	border-radius: 12px;
  	font-weight: 700;
  	cursor: pointer;
  	margin-top: 191px;
  	background: rgb(255,255,255,0.7);
 }

 #exit{
 	border: solid orange 1px;
	text-decoration: none;
 	font-size: 13px;
  	margin: 4px 2px;
  	padding: 12px 27px
  	border-radius: 12px;
  	font-weight: 700;
  	cursor: pointer;
  	margin-top: 105px;
  	background: rgb(255,255,255,0.7);	
 }

 #note{
 	border: solid 0px;
    margin: 16px 451px;
    font-size: 20px;
    border-radius: 5px;
    background: rgb(255,255,255,0.7);
 }

 .info{
 	border: solid orange 1px;
    margin: 0px 451px;
    font-size: 20px;
    border-radius: 5px;
    background: rgb(255,255,255,0.7);
 }

/* div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from {font-color: red;}
  to {font-color: yellow;}
}*/