body{
	background: black;
	/*background-image: url('dark-low-poly-background_1048-7971.jpg')*/
} 

#entr{
	text-align: center;
}


#q{
	margin-top: 250px;
	font-size : 50px;
	color: white;
}

#yes {
	border: solid orange 3px;
	text-decoration: none;
 	font-size: 16px;
  	margin: 4px 2px;
  	padding: 15px 28px;
  	border-radius: 12px;
  	font-weight: 900;
  	cursor: pointer;

}

#no{
	border: solid orange 3px;
	text-decoration: none;
 	font-size: 16px;
  	margin: 4px 2px;
  	padding: 15px 32px;
  	border-radius: 12px;
  	font-weight: 900;
  	cursor: pointer;
  	/*cursor: not-allowed;*/

}

#info{
	text-align: center;
	margin-top: 150px

}

label{
	color: white;
	font-size : 30px;
	margin-right: 19px;
}

/*input{
	padding: 10px 20px;
	font-size: 20px;
	margin-right: 88px;
}*/

#name{
	padding: 5px 5px;
	font-size: 20px;
	margin-right: 78px;
	border: solid #f09d05 3px;
}

#age{
	padding: 6px 5px;
	font-size: 20px;
	margin-right: 78px;
	margin-left: 21px;
	border: solid #f09d05 3px;
}

#enter{
	border: solid black 1px;
	text-decoration: none;
 	font-size: 16px;
  	margin: 4px 2px;
  	padding: 12px 24px;
  	border-radius: 12px;
  	font-weight: 700;
  	cursor: pointer;
  	border : solid grey 2px;
  	margin-top: 80px;
  	margin-left: 25px;

}

.b{

	border: solid black 1px;
	text-decoration: none;
 	font-size: 16px;
  	margin: 4px 2px;
  	padding: 15px 32px;
  	border-radius: 12px;
  	font-weight: 900;
  	cursor: pointer;

}

#b4{
	margin-left: 600px;
    margin-top: 300px;
}


#b3{
	margin-left: 959px;
    margin-bottom: 100px;
}


#b2{
	margin-left: 456px;
    /*margin-bottom: 300px;*/
    margin-top: 100px;

}

#b1{
	margin-top: 216px;

}

#add{

	border: solid orange 1px;
	text-decoration: none;
 	font-size: 16px;
  	margin: 4px 2px;
  	padding: 8px 18px;
  	border-radius: 12px;
  	font-weight: 700;
  	cursor: pointer;

}


#click{

	border: solid orange 1px;
	text-decoration: none;
 	font-size: 13px;
  	margin: 4px 2px;
  	padding: 7px 14px;
  	border-radius: 12px;
  	font-weight: 900;
  	cursor: pointer;
}

#next{

	border: solid orange 1px;
	text-decoration: none;
 	font-size: 13px;
  	margin: 4px 2px;
  	padding: 8px 18px;
  	border-radius: 12px;
  	font-weight: 700;
  	cursor: pointer;
	
}

#ne{
	border: solid orange 1px;
	text-decoration: none;
 	font-size: 13px;
  	margin: 4px 2px;
  	padding: 8px 18px;
  	border-radius: 12px;
  	font-weight: 700;
  	cursor: pointer;
}

#ad{

	border: solid orange 1px;
	text-decoration: none;
 	font-size: 13px;
  	margin: 4px 2px;
  	padding: 8px 18px;
  	border-radius: 12px;
  	font-weight: 700;
  	cursor: pointer;
}

#one{
  display:inline-block;
  vertical-align:top;
  width : 19%;
  padding: 20px 0px;
  border: solid orange 1px;
  background: white;
}

 #two{
  display:inline-block;
  vertical-align:top;
  width : 19%;
  padding: 20px 0px;
  border: solid orange 1px;
  background: white;
 }